<!DOCTYPE HTML>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vincent Emonet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vincent Emonet personal website (resume)" />
    <meta name="keywords" content="vincent,emonet,vincent emonet,resume,cv,rdf,ontologies" />
    <meta name="author" content="Vincent Emonet" />

    <!-- 
    //////////////////////////////////////////////////////
    FREE HTML5 TEMPLATE 
    DESIGNED & DEVELOPED by FreeHTML5.co
    Website: 		http://freehtml5.co/
    Email: 			info@freehtml5.co
    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    
    <!-- <link rel="icon" type="image/x-icon" href="images/icons/maastricht_university-logo-square.png" /> -->
    <link rel="icon" href="images/icons/semantic_web_logo.svg" sizes="any" type="image/svg+xml">
      
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="vendor/tooltipster/tooltipster.bundle.min.css">
    <link rel="stylesheet" href="vendor/flags32/flags32.css">
    <link rel="stylesheet" href="css/freelancer.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/fontawesome.js"></script>

	</head>
	<body ng-app=translate>
    <!-- Navigation. To have the navbar going little when scrolling down: in css/freelancer.cs search ".navbar-custom.affix". To keep navbar at top: class navbar-fixed-top -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Vincent Emonet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="HeaderController">
                <ul class="nav navbar-nav navbar-right f32" ng-controller="TranslateCtrl" class="ng-scope">
                    <!-- Highlight btn in vendor/jquery/freelancer.js with scrollspy -->
                    <li class="hidden">
                        <a href="#"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#projects" translate="PROJECTS_TITLE">Projects</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#experiences">Experience</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#skills" translate="SKILLS_TITLE">Skills</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#publications">Publications</a>
                    </li>
                    <!--li class="page-scroll" ng-class="{ active: isActive('about.html')}">
                        <a href="voyages.html">Voyages</a>
                    </li-->
                    <li>
                        <a href="mailto:vincent.emonet@gmail.com">Contact</a>
                    </li>
                    <li style="padding-left: 15px; padding-top: 5px;">
                      <span id="enFlag" class="flag gb" ng-click="changeLanguage('en')" title="English" style="cursor: pointer;"></span>
                    </li>
                    <li style="padding-left: 15px; padding-top: 5px;">
                      <span id="frFlag" class="flag fr" ng-click="changeLanguage('fr')" title="Français" style="cursor: pointer; opacity: 0.5;"></span>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
		
	<div class="fh5co-loader"></div>
	
	<div id="page" style="margin-top: 70px;">

    <div id="fh5co-about" class="animate-box" style="margin-top: 3em;">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="info fh5co-social-icons well">
              <li><a class="aBtn" href="mailto:vincent.emonet@gmail.com"><i class="icon-mail"></i></a><a href="mailto:vincent.emonet@gmail.com">vincent.emonet@gmail.com</a></li>
              <li><a class="aBtn"><i class="icon-phone2"></i></a><span>+33 6 75 72 59 52</span></li>
              <li><a class="aBtn" href="https://github.com/vemonet/" target="_blank"><i class="icon-github2"></i></a><a href="https://github.com/vemonet/" target="_blank">github.com/vemonet</a></li>
              <li><a class="aBtn" href="https://hub.docker.com/u/vemonet" target="_blank"><i class="fab fa-docker"></i></a><a href="https://hub.docker.com/u/vemonet" target="_blank">hub.docker.com/vemonet</a></li>
              <li><a class="aBtn" href="https://www.linkedin.com/in/vincent-emonet" target="_blank"><i class="icon-linkedin2"></i></a><a href="https://www.linkedin.com/in/vincent-emonet" target="_blank">vincent-emonet</a></li>
              <li><a class="aBtn" href="https://orcid.org/0000-0002-1501-1082" style="padding: 6px 12px 6px 12px" target="_blank"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCID iD icon"></a><a href="https://orcid.org/0000-0002-1501-1082" target="_blank" style="font-size: 14px">orcid.org/0000-0002-1501-1082</a></li>
              <!-- TODO: add WebID? https://vemonet.solid.community/profile/card#me -->
            </ul>
            <ul class="info fh5co-social-icons well" style="margin-top: 2em;">
              <li><a id="cvHrefBtn" class="aBtn" href="resources/RESUME_VincentEmonet.pdf" target="_blank"><i class="icon-file-pdf"></i></a><a id="cvHrefLabel" translate="DDL_CV_LABEL" href="resources/RESUME_VincentEmonet.pdf" target="_blank"></a></li>
              <li><a class="aBtn" href="resources/Vincent_Emonet.vcf" target="_blank"><i class="icon-v-card"></i></a><a href="resources/Vincent_Emonet.vcf" target="_blank">vCard</a></li>
            </ul>
          </div>
          <div class="col-md-8">
            <p translate="ABOUT_TEXT" style="margin-bottom: 30px;"></p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div id="fh5co-work" class="fh5co-bg-dark">
      <div class="container" id="projects">
        <div class="row animate-box">
          <div class="fh5co-heading">
            <h2 translate="PROJECTS_TITLE">Projects</h2>
          </div>
        </div>
        <div class="row  text-center">
          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Data2Services</h3>
              </div>
              <div class="panel-body">
                <p translate="PROJECT_D2S"></p>
                <div class="row" style="padding-top: 15px;">
                    <a href="http://d2s.semanticscience.org/" class="tooltipster" title="GraphDB RDF triplestore for BioLink data" target="_blank">
                      <img class="project-image" src="images/icons/maastricht_university-logo-square.png"/>
                    </a>
                    <a href="https://github.com/vemonet/rdf4j-sparql-operations" class="tooltipster" title="rdf4j-sparql-operations, a module to execute SPARQL queries using Docker and RDF4J." target="_blank">
                      <img class="project-image" src="images/icons/RDF4J_logo.png"/>
                    </a>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">Data Science Research Infrastructure</h3>
              </div>
              <div class="panel-body">
                <p translate="PROJECT_DSRI"></p>
                <div class="row" style="padding-top: 15px;">
                    <a href="https://maastrichtu-ids.github.io/dsri-documentation/" class="tooltipster" title="GraphDB RDF triplestore for BioLink data" target="_blank">
                      <img class="project-image" src="images/icons/maastricht_university-logo-square.png"/>
                    </a>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">SIFR & AgroPortal</h3>
              </div>
              <div class="panel-body">
                <p translate="PROJECT_BIOPORTAL"></p>
                <div class="row" style="padding-top: 15px;">
                    <a href="http://agroportal.lirmm.fr" class="tooltipster" title="AgroPortal, an ontology repository for agronomical data" target="_blank">
                      <img class="project-image" src="images/icons/agroportal_logo.png"/>
                    </a>
                    <a href="https://github.com/sifrproject/" class="tooltipster" title="SIFR Project GitHub (used by AgroPortal)" target="_blank">
                      <img class="project-image" src="images/icons/github_icon.svg"/>
                    </a>
                  </div>
              </div>
            </div>
          </div>
          <!--div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Yam++</h3>
              </div>
              <div class="panel-body">
                <p translate="PROJECT_YAMPP"></p>
                <ul class="fh5co-social-icons">
                  <li><a class="aBtn" href="http://yamplusplus.lirmm.fr" target="_blank"><i class="icon-globe2"></i></a></li>
                  <li><a class="aBtn" href="https://gite.lirmm.fr/opendata" target="_blank"><i class="icon-github2"></i></a></li>
                </ul>
              </div>
            </div>
          </div-->
          <div class="col-md-6">
            <div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">Bio2RDF</h3>
              </div>
              <div class="panel-body">
                <p translate="PROJECT_BIO2RDF"></p>
                <div class="row text-center" style="padding-top: 15px;">
                  <a href="http://bio2rdf.org" class="tooltipster" title="Virtuoso RDF triplestore for Life Science data" target="_blank">
                    <img class="project-image" src="images/icons/bio2rdf.png"/>
                  </a>
                  <a href="https://github.com/bio2rdf/bio2rdf-rest" class="tooltipster" title="bio2rdf-rest GitHub" target="_blank">
                    <img class="project-image" src="images/icons/github_icon.svg"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div id="fh5co-resume" class="fh5co-bg-color">
      <div class="container" id="experiences">
        <div class="row">
          <div class="col-md-12 col-md-offset-0">
            <ul class="timeline">
              <li class="timeline-heading text-center animate-box">
                <div><h3 translate="WORK_EXPE_TITLE">Work Experience</h3></div>
              </li>
              <li class="animate-box timeline-unverted">
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="SIX_EXPE_TITLE" class="timeline-title"></h3>
                    <span translate="SIX_EXPE_COMPANY" class="company"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="SIX_EXPE_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted animate-box">
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="FIVE_EXPE_TITLE" class="timeline-title"></h3>
                    <span translate="FIVE_EXPE_COMPANY" class="company"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="FIVE_EXPE_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="animate-box timeline-unverted">
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="FIRST_EXPE_TITLE" class="timeline-title"></h3>
                    <span translate="FIRST_EXPE_COMPANY" class="company"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="FIRST_EXPE_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted animate-box">
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="TWO_EXPE_TITLE" class="timeline-title"></h3>
                    <span translate="TWO_EXPE_COMPANY" class="company">Company Name - 2013 - 2015</span>
                  </div>
                  <div class="timeline-body">
                    <p translate="TWO_EXPE_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="animate-box timeline-unverted">
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="THREE_EXPE_TITLE" class="timeline-title"></h3>
                    <span class="company" translate="THREE_EXPE_COMPANY"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="THREE_EXPE_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="animate-box timeline-inverted">
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="FOUR_EXPE_TITLE" class="timeline-title"></h3>
                    <span class="company" translate="FOUR_EXPE_COMPANY"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="FOUR_EXPE_TXT"></p>
                  </div>
                </div>
              </li>

              <br>
              <li class="timeline-heading text-center animate-box">
                <div><h3>Education</h3></div>
              </li>
              <li class="timeline-unverted animate-box">
                <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="FIRST_EDU_TITLE" class="timeline-title" ></h3>
                    <span translate="FIRST_EDU_LOCATION" class="company">University Name - 2007 - 2009</span>
                  </div>
                  <div class="timeline-body">
                    <p translate="FIRST_EDU_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="animate-box timeline-inverted">
                <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="TWO_EDU_TITLE" class="timeline-title"></h3>
                    <span translate="TWO_EDU_LOCATION" class="company"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="TWO_EDU_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="timeline-unverted animate-box">
                <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="THREE_EDU_TITLE" class="timeline-title"></h3>
                    <span translate="THREE_EDU_LOCATION" class="company"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="THREE_EDU_TXT"></p>
                  </div>
                </div>
              </li>
              </ul>
          </div>
        </div>
      </div>
    </div>


    <div id="fh5co-skills" class="animate-box fh5co-bg-dark">
      <div class="container" id="skills">
        <div class="row">
          <div class="fh5co-heading">
            <h2 translate="SKILLS_TITLE">Skills</h2>
          </div>
        </div>
        
        <div class="row row-pb-md">
          
          <div class="col-md-6 text-center">
            <div class="row">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 translate="SKILLS_LANG_TITLE" class="panel-title"></h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <a href="https://www.java.com/" class="tooltipster" title="Java <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/java_logo.png"/>
                    </a>
                    <a href="https://www.javascript.com/" class="tooltipster" title="JavaScript <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/javascript_logo.png" style="max-height: 45px;"/>
                    </a>
                    <a href="https://www.python.org/" class="tooltipster" title="Python <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/python_logo.png"/>
                    </a>
                    <a href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)" class="tooltipster" title="Bash (ZSH) <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/bash_logo.png" style="max-height: 50px;" />
                    </a>
                  </div>
                  <div class="row">
                    <a href="https://reactjs.org/" class="tooltipster" title="React JS (JavaScript) <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/React_Logo.svg"/>
                    </a>
                    <a href="https://angular.io/" class="tooltipster" title="Angular2 and AngularJS (JavaScript) <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/angularjs_logo.png"/>
                    </a>
                    <a href="http://tomcat.apache.org" class="tooltipster" title="Apache Tomcat (Java) <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/tomcat_logo.png"/>
                    </a>
                    <a href="https://www.ruby-lang.org/" class="tooltipster" title="Ruby (on Rails) <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/ruby_logo.png" style="max-height: 38px;" />
                    </a>
                  </div>
                  <div class="row">
                    <a href="https://getbootstrap.com" class="tooltipster" title="Bootstrap (HTML/CSS) <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/bootstrap_logo.png"/>
                    </a>
                    <a href="https://material.io/design/" class="tooltipster" title="Material Design (HTML/CSS) <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/Google_Material_Design_Logo.png"/>
                    </a>
                    <img src="images/icons/html5_logo.png" class="tooltipster" title="HTML <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>"/>
                    <img src="images/icons/css_logo.png" class="tooltipster" title="CSS <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>"/>
                  </div>
                </div>
              </div>
              
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 translate="SKILLS_TOOL_TITLE" class="panel-title"></h3>
                </div>
                <div class="panel-body">
                  <a href="https://git-scm.com" class="tooltipster" title="Git <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i>" target="_blank">
                    <img src="images/icons/git_icon.png"/>
                  </a>
                  <a href="https://www.docker.com" class="tooltipster" title="Docker <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i>" target="_blank">
                    <img src="images/icons/docker_logo.png"/>
                  </a>
                  <a href="https://kubernetes.io/" class="tooltipster" title="Kubernetes <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                    <img src="images/icons/Kubernetes.png"/>
                  </a>
                  <a href="https://www.openshift.com/" class="tooltipster" title="OpenShift <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                    <img src="images/icons/openshift-logo.png"/>
                  </a>
                  <img src="images/icons/linux_logo.png" class="tooltipster" title="Linux (Shell, Debian, RedHat) <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>"/>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 text-center">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 translate="SKILLS_DATA_TITLE" class="panel-title"></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <img src="images/icons/sparql_logo.png" class="tooltipster" title="SPARQL <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i>"/>
                  <a href="https://rdf4j.eclipse.org/" class="tooltipster" title="RDF4J Java framework <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                    <img src="images/icons/RDF4J_logo.png"/>
                  </a>
                  <a href="http://graphdb.ontotext.com/" class="tooltipster" title="Ontotext GraphDB RDF triplestore <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                    <img src="images/icons/graphdb-logo_200x200.png"/>
                  </a>
                  <a href="https://www.w3.org/TR/r2rml/" class="tooltipster" title="R2RML: RDB to RDF Mapping Language <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                    <img src="images/icons/r2rml_icon.png"/>
                  </a>
                  <!--a href="https://redis.io/" class="tooltipster" title="Redis <br><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                    <img src="images/icons/redis_logo.svg"/>
                  </a-->
                </div>
                
                <div class="row">
                  <a href="https://www.postgresql.org/" class="tooltipster" title="SQL (PostgreSQL, MariaDB...) <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                    <img src="images/icons/postgresql_logo.png"/>
                  </a>
                  <a href="https://www.talend.com" class="tooltipster" title="Talend ETL <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                    <img src="images/icons/talend_logo.png"/>
                  </a>
                  <a href="http://hadoop.apache.org/" class="tooltipster" title="Hadoop <br><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                    <img src="images/icons/hadoop_logo.png"/>
                  </a>
                </div>
                
                <div class="row">
                  <a href="https://www.openapis.org/" class="tooltipster" title="HTTP RESTful OpenAPI" target="_blank">
                    <img src="images/icons/OpenAPI_Logo.png" style="max-height: 45px;"/>
                  </a>
                  <a href="http://www.json.org/" class="tooltipster" title="JSON" target="_blank">
                    <img src="images/icons/json_logo.png"/>
                  </a>
                  <a href="https://www.w3.org/XML/" class="tooltipster" title="XML" target="_blank">
                    <img src="images/icons/xml_logo.png" style="max-height: 40px;"/>
                  </a>
                </div>
              </div>
            </div>
            
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 translate="SKILLS_SPEAK_TITLE" class="panel-title"></h3>
              </div>
              <div class="panel-body">
                <ul class="f32" style="margin-top: 13px; padding-left: 0px;">
                  <li>
                    <span class="flag fr tooltipster" title="Français <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i>"></span>
                  </li>
                  <li>
                    <span class="flag gb tooltipster" title="English <br>TOIEC score : 935 <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star'></i>"></span>
                  </li>
                  <li>
                    <span class="flag es tooltipster" title="Spanish <br><i class='icon-star'></i><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>"></span>
                  </li>
                  <li>
                    <a href="https://www.latex-project.org" class="tooltipster" title="Latex <br><i class='icon-star'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i><i class='icon-star-outlined'></i>" target="_blank">
                      <img src="images/icons/latex_logo.png"/>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        
        <!-- Progress bar examples
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 text-center">
            <div class="chart" data-percent="95"><span><strong>HTML5</strong>95%</span></div>
          </div>
          <div class="col-md-6">
            <div class="progress-wrap">
              <h3><span class="name-left">HTML5/CSS3</span><span class="value-right">95%</span></h3>
              <div class="progress">
                <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                </div>
              </div>
            </div>
          </div>
        </div-->
      </div>
    </div>
    
    <div id="fh5co-publications" class="animate-box fh5co-bg-color">
      <div class="container" id="publications">
        <!--div class="row" translate="PUBLICATIONS_TEXT"-->
        <div class="row">
          <div class="fh5co-heading">
            <h2>Publications</h2>
          </div>
          
          <div class="text-center" style="margin-bottom: 2em;">
            <a href="https://hal.archives-ouvertes.fr/search/index/q/*/authFullName_s/Vincent+Emonet" target="_blank"><img src="images/icons/hal_logo.png" class="tooltipster" title="HAL open archives"  style="max-height: 140px; margin-right: 2em;"/></a>
            <a href="https://scholar.google.fr/citations?user=G59f3woAAAAJ" target="_blank"><img src="images/icons/google_scholar_icon.png" class="tooltipster" title="Google Scholar" style="max-height: 140px; margin-right: 2em;"/></a>
          </div>

          
          <ul class="list-group">
            <li class="list-group-item tooltipster" title="&lt;i&gt;SWAT4LS 2018 &lt;/i&gt;">
              V. Emonet, A. Malic, A. Zaveri, A. Grigoriu and M. Dumontier, <a href="https://ndownloader.figshare.com/files/13573628" target="_blank"><b>Data2Services: enabling automated conversion of data to services</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;Computers and Electronics in Agriculture, vol. 144, p. 126-143}, 2018 &lt;/i&gt;">
              C. Jonquet et al., <a href="https://reader.elsevier.com/reader/sd/pii/S0168169916309541?token=6BDD6D146D29521FCA2CA5C493A1C916C696086F12516E7E9FD9E10529F0E6503BEF04A6E9698D1C741D10B441B635C6" target="_blank"><b>AgroPortal: a vocabulary and ontology repository for agronomy</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;CLEF eHealth 2017 &lt;/i&gt;">
              Andon Tchechmedjiev, Amine Abdaoui, Vincent Emonet, Clement Jonquet, <a href="http://ceur-ws.org/Vol-1866/paper_62.pdf" target="_blank"><b>ICD10 Coding of Death Certificates with the NCBO and SIFR Annotator(s)</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;Workshop IN-OVIVE, 2017&lt;/i&gt;">
              Clement Jonquet, Anne Toulet, Vincent Emonet, <a href="http://www.lirmm.fr/~jonquet/publications/documents/Article_IN-OVIVE-2017_AgroPortal_ontologies_review.pdf" target="_blank"><b>Two years later: the landscape of vocabularies and ontologies in the AgroPortal</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;JFO: Journées Francophones sur les Ontologies, 2016&lt;/i&gt;">
              Anne Toulet, Vincent Emonet, Clement Jonquet, <a href="https://hal.archives-ouvertes.fr/lirmm-01397388v1" target="_blank"><b>Modèle de métadonnées dans un portail d’ontologies</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;GODAN Summit, an Open Data Research Symposium on Agriculture and Nutrition, sept. 2016&lt;/i&gt;">
              Clement Jonquet et al., <a href="https://hal.archives-ouvertes.fr/hal-01398252" target="_blank"><b>AgroPortal: an open repository of ontologies and vocabularies for agriculture and nutrition data</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;ICBO: International Conference on Biomedical Ontologies, jun. 2016&lt;/i&gt;">
              Clement Jonquet et al., <a href="https://hal.archives-ouvertes.fr/hal-01398251" target="_blank"><b>Reusing the NCBO BioPortal technology for agronomy to build AgroPortal</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;JFIM: Journées Francophones d'Informatique Médicale, Jun 2016, Genève, Suisse &lt;/i&gt;">
              Clement Jonquet et al., <a href="https://hal.archives-ouvertes.fr/hal-01398250" target="_blank"><b>SIFR BioPortal : Un portail ouvert et générique d’ontologies et de terminologies biomédicales françaises au service de l’annotation sémantique</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;WIMS: Web Intelligence, Mining and Semantics, Jun 2016, Nîmes, France &lt;/i&gt;">
              Amina Annane, Vincent Emonet, Faiçal Azouaou, Clement Jonquet, <a href="https://hal.archives-ouvertes.fr/lirmm-01395880" target="_blank"><b>Multilingual Mapping Reconciliation between English-French Biomedical Ontologies</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;IC2016, Jun 2016, Montpellier, France &lt;/i&gt;">
              Amina Annane, Vincent Emonet, Faiçal Azouaou, Clement Jonquet, <a href="https://hal.archives-ouvertes.fr/lirmm-01395900" target="_blank"><b>Réconciliation d'alignements multilingues dans BioPortal</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;ESWC Extended Semantic Web Conference, Jun 2015, Portoroz, Slovenia &lt;/i&gt;">
              Clement Jonquet, Vincent Emonet, Mark A. Musen, <a href="https://hal.archives-ouvertes.fr/lirmm-01172218" target="_blank"><b>Roadmap for a multilingual BioPortal</b></a>
            </li>            
            <li class="list-group-item tooltipster" title="&lt;i&gt;7th International Conference on Biomedical Ontologies, 2016 &lt;/i&gt;">
              C. Jonquet et al., <a href="http://ceur-ws.org/Vol-1747/D202_ICBO2016.pdf"><b>Reusing the NCBO BioPortal technology for agronomy to build AgroPortal</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;6th International Conference on Web Intelligence, Mining and Semantics, 2016&lt;/i&gt;">
              A. Annane, V. Emonet, F. Azouaou, C. Jonquet. <a href="https://hal.archives-ouvertes.fr/lirmm-01395880"><b>Multilingual Mapping Reconciliation between English-French biomedical ontologies</b></a>
            </li>
            <li class="list-group-item tooltipster" title="&lt;i&gt;International Semantic Web Conference, 2014 &lt;/i&gt;">
              M. Dumontier et al.,  <a href="http://ceur-ws.org/Vol-1272/paper_121.pdf"><b>Bio2RDF Release 3: A larger, more connected network of Linked Data for the Life Sciences</b></a>
            </li>
          </ul>
            
        </div>
      </div>
    </div>    
	</div>
	
	<div id="fh5co-footer" class="fh5co-bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center">&copy; 2017-2020 Vincent Emonet.</p>
                  <!--p class="text-center" style="font-size: 13px;">Illustrations by <a rel="nofollow" target="_blank" href="https://www.vecteezy.com/">Vecteezy.com</a></p-->
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="vendor/jquery/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="vendor/jquery/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="vendor/jquery/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="vendor/jquery/jquery.easypiechart.min.js"></script>

  <!-- Custom js -->
  <script src="vendor/jquery/freelancer.js"></script>
	<script src="vendor/jquery/main.js"></script>
    
  <script src="vendor/tooltipster/tooltipster.bundle.min.js"></script>

  <!-- Angular: translate text in selected language -->
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular/angular-translate.min.js"></script>
  <script src="js/translate.js"></script>
    

	</body>
</html>

