<!DOCTYPE HTML>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vincent Emonet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vincent Emonet personal website (resume)" />
    <meta name="keywords" content="vincent,emonet,vincent emonet,resume,cv" />
    <meta name="author" content="Vincent Emonet" />

    <!-- 
    //////////////////////////////////////////////////////
    FREE HTML5 TEMPLATE 
    DESIGNED & DEVELOPED by FreeHTML5.co
    Website: 		http://freehtml5.co/
    Email: 			info@freehtml5.co
    //////////////////////////////////////////////////////
     -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    
    <link rel="icon" type="image/x-icon" href="images/icons/lirmm.ico" />

    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="//cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css">
    <link rel="stylesheet" href="css/freelancer.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

	</head>
	<body ng-app=translate>
    <!-- Navigation. To have the navbar going little when scrolling down: in css/freelancer.cs search ".navbar-custom.affix". To keep navbar at top: class navbar-fixed-top -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Vincent Emonet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="HeaderController">
                <ul class="nav navbar-nav navbar-right f32" ng-controller="TranslateCtrl" class="ng-scope">
                    <!-- Highlight btn in vendor/jquery/freelancer.js with scrollspy -->
                    <li class="hidden">
                        <a href="#"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#projects">Projects</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#experiences">Experiences</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll" ng-class="{ active: isActive('about.html')}">
                        <a href="voyages.html">Voyages</a>
                    </li>
                    <li class="page-scroll">
                        <a href="mailto:vincent.emonet@gmail.com">Contact</a>
                    </li>
                    <li class="page-scroll" style="padding-left: 15px;">
                      <span id="enFlag" class="flag gb" ng-click="changeLanguage('en')" title="English" style="cursor: pointer;"></span>
                    </li>
                    <li class="page-scroll" style="padding-left: 15px;">
                      <span id="frFlag" class="flag fr" ng-click="changeLanguage('fr')" title="Français" style="cursor: pointer; opacity: 0.5;"></span>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
		
	<div class="fh5co-loader"></div>
	
	<div id="page" style="margin-top: 70px;">

    <div id="fh5co-about" class="animate-box" style="margin-top: 3em;">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <ul class="info fh5co-social-icons well">
              <li><a class="aBtn" href="mailto:vincent.emonet@gmail.com"><i class="icon-mail"></i></a><a href="mailto:vincent.emonet@gmail.com">vincent.emonet@gmail.com</a></li>
              <li><a class="aBtn"><i class="icon-phone2"></i></a><span>+33 6 75 72 59 52</span></li>
              <li><a class="aBtn" href="https://github.com/vemonet/" target="_blank"><i class="icon-github2"></i></a><a href="https://github.com/vemonet/" target="_blank">github.com/vemonet</a></li>
              <li><a class="aBtn" href="https://www.linkedin.com/in/vincent-emonet-9919a256" target="_blank"><i class="icon-linkedin2"></i></a><a href="https://www.linkedin.com/in/vincent-emonet-9919a256" target="_blank">vincent-emonet-9919a256</a></li>
            </ul>
            <ul class="info fh5co-social-icons well" style="margin-top: 2em;">
              <li><a id="cvHrefBtn" class="aBtn" href="resources/RESUME_VincentEmonet.pdf" target="_blank"><i class="icon-file-pdf"></i></a><a id="cvHrefLabel" translate="DDL_CV_LABEL" href="resources/RESUME_VincentEmonet.pdf" target="_blank"></a></li>
              <li><a class="aBtn" href="resources/Vincent_Emonet.vcf" target="_blank"><i class="icon-v-card"></i></a><a href="resources/Vincent_Emonet.vcf" target="_blank">vCard</a></li>
            </ul>
          </div>
          <div class="col-md-8">
            <h2 translate="ABOUT_ME_H2"></h2>
            <p translate="ABOUT_TEXT"></p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div id="fh5co-work" class="fh5co-bg-dark">
      <div class="container" id="projects">
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Projects</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">SIFR & AgroPortal</h3>
              </div>
              <div class="panel-body">
                <p translate="PROJECT_BIOPORTAL" style="margin-bottom: 0;"></p>
                <ul class="fh5co-social-icons">
                  <li><a class="aBtn" href="http://agroportal.lirmm.fr" target="_blank"><i class="icon-globe2"></i></a></li>
                  <li><a class="aBtn" href="https://github.com/sifrproject/" target="_blank"><i class="icon-github2"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Yam++</h3>
              </div>
              <div class="panel-body">
                <p translate="PROJECT_YAMPP" style="margin-bottom: 0;"></p>
                <ul class="fh5co-social-icons">
                  <li><a class="aBtn" href="http://yamplusplus.lirmm.fr" target="_blank"><i class="icon-globe2"></i></a></li>
                  <li><a class="aBtn" href="https://gite.lirmm.fr/opendata" target="_blank"><i class="icon-github2"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Bio2RDF</h3>
              </div>
              <div class="panel-body">
                <p translate="PROJECT_BIO2RDF" style="margin-bottom: 0;"></p>
                <ul class="fh5co-social-icons">
                  <li><a class="aBtn" href="http://bio2rdf.org" target="_blank"><i class="icon-globe2"></i></a></li>
                  <li><a class="aBtn" href="https://github.com/bio2rdf/bio2rdf-rest" target="_blank"><i class="icon-github2"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div id="fh5co-resume" class="fh5co-bg-color">
      <div class="container" id="experiences">
        <div class="row">
          <div class="col-md-12 col-md-offset-0">
            <ul class="timeline">
              <li class="timeline-heading text-center animate-box">
                <div><h3 translate="WORK_EXPE_TITLE">Work Experience</h3></div>
              </li>
              <li class="animate-box timeline-unverted">
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="FIRST_EXPE_TITLE" class="timeline-title"></h3>
                    <span translate="FIRST_EXPE_COMPANY" class="company"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="FIRST_EXPE_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted animate-box">
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="TWO_EXPE_TITLE" class="timeline-title"></h3>
                    <span translate="TWO_EXPE_COMPANY" class="company">Company Name - 2013 - 2015</span>
                  </div>
                  <div class="timeline-body">
                    <p translate="TWO_EXPE_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="animate-box timeline-unverted">
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="THREE_EXPE_TITLE" class="timeline-title"></h3>
                    <span class="company" translate="THREE_EXPE_COMPANY"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="THREE_EXPE_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="animate-box timeline-inverted">
                <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="FOUR_EXPE_TITLE" class="timeline-title"></h3>
                    <span class="company" translate="FOUR_EXPE_COMPANY"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="FOUR_EXPE_TXT"></p>
                  </div>
                </div>
              </li>

              <br>
              <li class="timeline-heading text-center animate-box">
                <div><h3>Education</h3></div>
              </li>
              <li class="timeline-unverted animate-box">
                <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="FIRST_EDU_TITLE" class="timeline-title" ></h3>
                    <span translate="FIRST_EDU_LOCATION" class="company">University Name - 2007 - 2009</span>
                  </div>
                  <div class="timeline-body">
                    <p translate="FIRST_EDU_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="animate-box timeline-inverted">
                <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="TWO_EDU_TITLE" class="timeline-title"></h3>
                    <span translate="TWO_EDU_LOCATION" class="company"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="TWO_EDU_TXT"></p>
                  </div>
                </div>
              </li>
              <li class="timeline-unverted animate-box">
                <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 translate="THREE_EDU_TITLE" class="timeline-title"></h3>
                    <span translate="THREE_EDU_LOCATION" class="company"></span>
                  </div>
                  <div class="timeline-body">
                    <p translate="THREE_EDU_TXT"></p>
                  </div>
                </div>
              </li>
              </ul>
          </div>
        </div>
      </div>
    </div>


    <div id="fh5co-features" class="animate-box">
      <div class="container">
        <div class="services-padding">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
              <h2>My Services</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
              <div class="feature-left">
                <span class="icon">
                  <i class="icon-paintbrush"></i>
                </span>
                <div class="feature-copy">
                  <h3>Web Design</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 text-center">
              <div class="feature-left">
                <span class="icon">
                  <i class="icon-briefcase"></i>
                </span>
                <div class="feature-copy">
                  <h3>Branding</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>

            </div>
            <div class="col-md-4 text-center">
              <div class="feature-left">
                <span class="icon">
                  <i class="icon-search"></i>
                </span>
                <div class="feature-copy">
                  <h3>Analytics</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4 text-center">

              <div class="feature-left">
                <span class="icon">
                  <i class="icon-bargraph"></i>
                </span>
                <div class="feature-copy">
                  <h3>Web Developent</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>

            </div>

            <div class="col-md-4 text-center">
              <div class="feature-left">
                <span class="icon">
                  <i class="icon-genius"></i>
                </span>
                <div class="feature-copy">
                  <h3>Web Marketing</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>

            </div>
            <div class="col-md-4 text-center">
              <div class="feature-left">
                <span class="icon">
                  <i class="icon-chat"></i>
                </span>
                <div class="feature-copy">
                  <h3>Support</h3>
                  <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fh5co-skills" class="animate-box">
      <div class="container" id="skills">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Skills</h2>
          </div>
        </div>
        
        <div class="row row-pb-md">
          
          <div class="col-md-4 text-center">
            <div class="row">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 translate="SKILLS_LANG_TITLE" class="panel-title"></h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <img src="images/icons/java_logo.png" title="Java"/>
                    <img src="images/icons/ruby_logo.png" title="Ruby (on Rails)" />
                    <img src="images/icons/python_logo.png" title="Python" />
                  </div>
                </div>
              </div>
              
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 translate="SKILLS_TOOL_TITLE" class="panel-title"></h3>
                </div>
                <div class="panel-body">
                  <a href="https://git-scm.com" title="Git" target="_blank">
                    <img src="images/icons/git_icon.png"/>
                  </a>
                  <a href="https://www.docker.com" title="Docker" target="_blank">
                    <img src="images/icons/docker_logo.png"/>
                  </a>
                  <a href="https://www.talend.com" title="Talend ETL" target="_blank">
                    <img src="images/icons/talend_logo.png"/>
                  </a>
                  <a href="#" title="Linux (Shell, Debian, RedHat)" target="_blank">
                    <img src="images/icons/linux_logo.png"/>
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-8 text-center">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 translate="SKILLS_WEB_TITLE" class="panel-title"></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <img src="images/icons/sparql_logo.png" title="SPARQL"/>
                  <img src="images/icons/hadoop_logo.png" title="Hadoop"/>
                  <img src="images/icons/mysql_logo.png" title="SQL"/>
                </div>
                
                <div class="row" style="margin-top: 1em;">
                  <span class="btn btn-primary">RESTful API</span>
                  <img src="images/icons/json_logo.png" title="JSON" />
                  <img src="images/icons/xml_logo.png" title="XML"/>
                </div>
                
                <div class="row" style="margin-top: 1em;">
                  <img src="images/icons/html5_logo.png" title="HTML"/>
                  <img src="images/icons/css_logo.png" title="CSS"/>
                  <img src="images/icons/javascript_logo.png" title="JavaScript"/>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
        
        <!-- Progress bar examples
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 text-center">
            <div class="chart" data-percent="95"><span><strong>HTML5</strong>95%</span></div>
          </div>
          <div class="col-md-6">
            <div class="progress-wrap">
              <h3><span class="name-left">HTML5/CSS3</span><span class="value-right">95%</span></h3>
              <div class="progress">
                <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
                aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                </div>
              </div>
            </div>
          </div>
        </div-->
      </div>
    </div>
    
	</div>
	
	<div id="fh5co-footer" class="fh5co-bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p style="text-align: center;">&copy; 2017 Vincent Emonet. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="vendor/jquery/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="vendor/jquery/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="vendor/jquery/jquery.stellar.min.js"></script>
	<!-- Easy PieChart -->
	<script src="vendor/jquery/jquery.easypiechart.min.js"></script>

  <!-- Custom js -->
  <script src="vendor/jquery/freelancer.js"></script>
	<script src="vendor/jquery/main.js"></script>

  <!-- Angular: translate text in selected language -->
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular/angular-translate.min.js"></script>
  <script src="js/translate.js"></script>

	</body>
</html>

